name: glm

on:
  push:
    paths:
      - glm/**
      - .github/workflows/glm.yml

jobs:
  ci:
    uses: ./.github/workflows/_build.yml
    with:
      {
        lib: glm,
        version: v0.12.5,
        multistrap: true,
        linux_apt: libx11-dev libglu1-mesa-dev libgl1-mesa-dev libwayland-dev libxkbcommon-dev xorg-dev libegl1-mesa-dev libopengl-dev libglx-dev libglvnd-dev,
      }
    secrets: inherit
