name: libusb

on:
  push:
    paths:
      - libusb/**
      - .github/workflows/libusb.yml

jobs:
  ci:
    permissions:
      contents: write

    uses: ./.github/workflows/_build.yml
    with: {
        lib: libusb,
        version: v1.0,
        linux_apt: libudev-dev,
        # multistrap: true,
      }
    secrets: inherit
