name: libusb

on:
  push:
    paths:
      - libusb/**
      - .github/workflows/libusb.yml

jobs:
  ci:
    uses: ./.github/workflows/_build.yml
    with:
      {
        lib: libusb,
        version: v0.12.3,
        linux_apt: libudev-dev,
        multistrap: true,
      }
    secrets: inherit
