name: rtAudio

on:
  push:
    paths:
      - rtAudio/**
      - .github/workflows/rtAudio.yml

jobs:
  ci:
    # uses: ./.github/workflows/_buildnoemscripten.yml
    uses: ./.github/workflows/_build.yml
    with: {
        lib: rtAudio,
        version: v1.0,
        # multistrap: true,
        linux_apt: jackd libpulse-dev libasound2-dev,
      }
    secrets: inherit
