name: rtAudio

on:
  push:
    paths:
      - rtAudio/**
      - .github/workflows/rtAudio.yml

jobs:
  ci:
    uses: ./.github/workflows/_buildnoemscripten.yml
    with:
      {
        lib: rtAudio,
        version: v0.12.5,
        multistrap: true,
        linux_apt: jackd libpulse-dev libasound2-dev,
      }
    secrets: inherit
