name: tess2

on:
  push:
    tags:
      - "v*"
    paths:
      - tess2/**
      - .github/workflows/tess2.yml

jobs:
  ci:
    uses: ./.github/workflows/_build.yml
    with: { lib: tess2, version: v0.12.4 }
    secrets: inherit
