name: tess2

on:
  push:
    paths:
      - .github/workflows/tess2.yml
      - tess2/**

jobs:
  ci:
    permissions:
      contents: write

    uses: ./.github/workflows/_build.yml
    with: { lib: tess2, version: v1.0 }
    secrets: inherit
