name: videoInput

on:
  push:
    paths:
      - .github/workflows/videoInput.yml
      - videoInput/**

jobs:
  ci:
    uses: ./.github/workflows/_buildwin.yml
    with: { lib: videoInput, version: v0.12.5, meson: true }
    secrets: inherit
