name: videoInput

on:
  push:
    paths:
      - videoInput/**
      - .github/workflows/videoInput.yml

jobs:
  ci:
    uses: ./.github/workflows/_buildwin.yml
    with: { lib: videoInput, version: v0.12.4, meson: true }
    secrets: inherit
