name: videoInput

on:
  push:
    paths:
      - .github/workflows/videoInput.yml
      - videoInput/**

jobs:
  ci:
    permissions:
      contents: write

    uses: ./.github/workflows/_buildwin.yml
    with: { lib: videoInput, version: v1.0, meson: true }
    secrets: inherit
